<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>New Song!</title>
  </head>
  <body>
    <h1>Create a new song:</h1>
    <form action="/songs" method="post">
      <label>Name</label><input id="Name" type="text" name="song[name]">
      <ul>
        <% Genre.all.each do |genre|%>
        <li><%=genre.name%><input id="<%=genre.name%>" type="checkbox" name="song[genre_ids][]" value="<%=genre.id%>"></li>
        <% end %>
      </ul>
      <label>Artist Name</label><input id="Artist Name" type="text" name="song[artist]">
      <input type="submit" value="Create">
    </form>
  </body>
</html>
